// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";

// colors
//$accent: #D33682; // magenta
//$accent: #ECD078;  // yellow-ish gold
//$accent: #542437; // dark purple
//$accent: #803753;
$accent: #53777A;
//$accent: #F38630; // orange

// medium grey
$grey: #CCC;


@mixin heading {
  margin: 1.0em 0em 0.5em 0em;
  font-family: Helvetica;
}

html {
  height: 100%;
  margin: 0 0 1px;
  padding: 0;
  overflow-y: scroll;
}


body {
  color: #333;
  font-size: 1.25em;
  margin-bottom: 4em !important;
  font-family: "minion-pro-1","minion-pro-2";
  background-color: #FBFBFB;
}

// basic elements
a, a:visited, a:hover {
  text-decoration: none;
  color: $accent;
}

h1 {
  @include heading;
  font-size: 2em;
}

h2 {
  @include heading;
  font-size: 1.25em;
}

p {
  margin: 1em 0em 1em 0em;
  line-height: 1.4;
}

code {
  font-family: monospace !important;
}

div.highlight {
  margin: 2em 0em 2em 0em;
  padding: 3px 6px 3px 6px;
  border-style: solid;
  border-color: #EEEEEE;
  border-width: 1px;
  background-color: #EDEDED;
  font-family: monospace;
}

.container {
    @include container;
}

#site_title {
  @include push(18);
  @include column(6);
  background-color: $accent;
  border-radius: 0em 0em 0.4em 0.4em;
}

#site_title a p {
  font-family: Georgia, sans-serif;
  color: white;
  padding: 0.3em 0.75em 0.3em 1em;
  text-align: right;
  @extend h2;
}

.content {
  @include column(24, true);
}

#footer {
  margin: 4em 0em 4em 0em;
  padding-top: 1em;
  border-top: 4px;
  border-style: solid;
  border-color: $grey;
  text-align: right;
  @include column(24, true);
}

