// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";


@mixin heading {
  margin: 0.5em 0em 0.5em 0em;
  font-family: Helvetica;
}

body {
  color: #333;
  font-size: 1.25em;
  margin-bottom: 4em;
}

// basic elements
a {
  text-decoration: none;
}

h1 {
  @include heading;
  font-size: 2em;
}

h2 {
  @include heading;
  font-size: 1.25em;
}

p {
  margin-bottom: 2em;
}

div.highlight {
  margin: 2em 0em 2em 0em;
  padding: 3px 6px 3px 6px;
  border-style: solid;
  border-color: #EEEEEE;
  border-width: 1px;
  //font-family: Monaco;
  background-color: #EDEDED;
  font-family: monospace;
}

.container {
    @include container;
}

#site_title {
  @include push(18);
  @include column(6);
  background-color: #D33682;
  border-radius: 0em 0em 0.4em 0.4em;
}

#site_title a p {
  //font-family: Helvetica;
  font-family: Georgia;
  color: white;
  padding: 0.3em 0.75em 0.3em 1em;
  text-align: right;
  @extend h2;
}

.content {
  @include column(24, true);
}

