constraints: HTTP ==4000.2.18,
             HUnit ==1.2.5.2,
             JuicyPixels ==3.1.7.1,
             MissingH ==1.3.0.1,
             MonadCatchIO-transformers ==0.3.1.2,
             SHA ==1.6.4.1,
             aeson ==0.8.0.2,
             array ==0.5.0.0,
             asn1-encoding ==0.9.0,
             asn1-parse ==0.9.0,
             asn1-types ==0.3.0,
             async ==2.0.1.6,
             attoparsec ==0.12.1.2,
             attoparsec-enumerator ==0.3.3,
             base ==4.7.0.1,
             base64-bytestring ==1.0.0.1,
             binary ==0.7.1.0,
             blaze-builder ==0.3.3.4,
             blaze-builder-enumerator ==0.2.0.6,
             blaze-html ==0.7.0.3,
             blaze-markup ==0.6.1.1,
             byteable ==0.1.1,
             bytestring ==0.10.4.0,
             bytestring-mmap ==0.2.2,
             case-insensitive ==1.2.0.1,
             cereal ==0.4.1.0,
             cipher-aes ==0.2.9,
             cipher-des ==0.0.6,
             cipher-rc4 ==0.1.4,
             clay ==0.10,
             cmdargs ==0.10.12,
             conduit ==1.2.3,
             conduit-extra ==1.1.4.2,
             connection ==0.2.3,
             containers ==0.5.5.1,
             cookie ==0.4.1.4,
             cprng-aes ==0.6.1,
             crypto-cipher-types ==0.0.9,
             crypto-numbers ==0.2.3,
             crypto-pubkey ==0.2.5,
             crypto-pubkey-types ==0.4.2.3,
             crypto-random ==0.0.8,
             cryptohash ==0.11.6,
             data-default ==0.5.3,
             data-default-class ==0.0.1,
             data-default-instances-base ==0.0.1,
             data-default-instances-containers ==0.0.1,
             data-default-instances-dlist ==0.0.1,
             data-default-instances-old-locale ==0.0.1,
             deepseq ==1.3.0.2,
             deepseq-generics ==0.1.1.1,
             digest ==0.0.1.2,
             directory ==1.2.1.0,
             dlist ==0.7.1,
             enclosed-exceptions ==1.0.1,
             enumerator ==0.4.20,
             exceptions ==0.6.1,
             extensible-exceptions ==0.1.1.4,
             filepath ==1.3.0.2,
             fsnotify ==0.1.0.3,
             ghc-prim ==0.3.1.0,
             haddock-library ==1.1.1,
             hakyll ==4.6.1.0,
             hashable ==1.2.2.0,
             hfsevents ==0.1.5,
             highlighting-kate ==0.5.11,
             hourglass ==0.2.6,
             hs-bibutils ==5.0,
             hslogger ==1.2.6,
             hslua ==0.3.13,
             http-client ==0.4.6,
             http-client-tls ==0.2.2,
             http-conduit ==2.1.5,
             http-types ==0.8.5,
             integer-gmp ==0.5.1.0,
             lifted-base ==0.2.3.0,
             lrucache ==1.1.1.4,
             mime-types ==0.1.0.4,
             mmorph ==1.0.4,
             monad-control ==0.3.3.0,
             monads-tf ==0.1.0.2,
             mtl ==2.2.1,
             nats ==1,
             network ==2.6.0.2,
             network-uri ==2.6.0.1,
             old-locale ==1.0.0.6,
             old-time ==1.1.0.2,
             pandoc ==1.13.1,
             pandoc-citeproc ==0.6,
             pandoc-types ==1.12.4.1,
             parsec ==3.1.7,
             pem ==0.2.2,
             pretty ==1.1.1.1,
             primitive ==0.5.4.0,
             process ==1.2.0.0,
             publicsuffixlist ==0.1,
             random ==1.0.1.1,
             regex-base ==0.93.2,
             regex-compat ==0.95.1,
             regex-pcre-builtin ==0.94.4.8.8.35,
             regex-posix ==0.95.2,
             regex-tdfa ==1.2.0,
             resourcet ==1.1.3,
             rfc5051 ==0.1.0.3,
             rts ==1.0,
             scientific ==0.3.3.2,
             securemem ==0.1.4,
             semigroups ==0.16,
             site ==0.1.0.0,
             snap-core ==0.9.6.3,
             snap-server ==0.9.4.5,
             socks ==0.5.4,
             split ==0.2.2,
             stm ==2.4.3,
             streaming-commons ==0.1.6,
             syb ==0.4.2,
             system-fileio ==0.3.15,
             system-filepath ==0.4.12,
             tagsoup ==0.13.3,
             template-haskell ==2.9.0.0,
             temporary ==1.2.0.3,
             texmath ==0.8,
             text ==1.1.1.3,
             time ==1.4.2,
             tls ==1.2.13,
             transformers ==0.4.2.0,
             transformers-base ==0.4.3,
             unix ==2.7.0.1,
             unix-compat ==0.4.1.3,
             unordered-containers ==0.2.5.1,
             utf8-string ==0.3.8,
             vector ==0.10.12.2,
             void ==0.7,
             x509 ==1.5.0.1,
             x509-store ==1.5.0,
             x509-system ==1.5.0,
             x509-validation ==1.5.1,
             xml ==1.3.13,
             xml-conduit ==1.2.3,
             xml-types ==0.3.4,
             yaml ==0.8.10.1,
             zip-archive ==0.2.3.5,
             zlib ==0.5.4.2,
             zlib-bindings ==0.1.1.5,
             zlib-enum ==0.2.3.1
