<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>$title$</title>
  <meta name="author" content="Reid Draper" />

   <link href="http://feeds.feedburner.com/reiddraper" rel="alternate" title="Reid Draper" type="application/atom+xml" />

  <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen, projection" />

  <script type="text/javascript" src="http://use.typekit.com/cpj3him.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-15201954-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</head>
<body>
  <div class="container">
    <a id="site-title" href="/">reid draper</a>

    <article class="content">
    $body$
    </article>

    <div id="footer">
      <span id="twitter">
       <a href="http://twitter.com/reiddraper">@reiddraper</a>
      </span>
      |
      <span id="github">
        <a href="https://github.com/reiddraper">github</a>
      </span>
    </div>
  </div>

</body>
</html>
